<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo 8</title>
    <link rel="icon" href="/src/images/logo2.webp" type="image/webp">
    <link rel="stylesheet" type="text/css" href="/src/css/aboutus.css">
    <link rel="stylesheet" type="text/css" href="/src/css/main.css">
    <script defer src="/src/js/aboutus.js"></script>
</head>

<body>
    <header class="header-content">
        <a href="/public/index.html" class="logo-link">
            <img src="/src/images/logo2.webp" alt="Logo del Grupo 8" class="header-logo">
        </a>
        <nav class="header-nav">
            <a href="/public/index.html" class="link-page">Ejercicios</a>
        </nav>
    </header>

    <main>
        <section class="section-aboutus">
            <h1 class="main-title">Grupo 8</h1>
            <h2 class="main-subtitle">Integrantes</h2>
            <ul id="team-list" class="team-list"></ul>
        </section>
    </main>
</body>
</html>